@page "/flashcards"
@using ChineseDictionary.Models
@inject HttpClient Http
@inject ChineseDictionary.Services.IDictionaryServiceAsync Dictionary
@inject ChineseDictionary.Services.IFlashcardsService Flashcards
@using System.ComponentModel.DataAnnotations

@using TG.Blazor.IndexedDB
@inject IndexedDBManager DbManager
@inject DbStore DbStore

<h1>Flashcards</h1>

@if (!training && !end)
{
    <EditForm Model="@input" OnValidSubmit="HandleTrainSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        Number of words:
        <InputNumber id="WordsCount" @bind-Value="input.WordsCount" />
        <br>
        Group of flashcards:
        <InputNumber id="FlashcardsGroup" @bind-Value="group" />
        <button type="submit">Train!</button>
    </EditForm>
}

@if(training && !end)
{
    @if (word != null)
    {

        <h4>@word.Chinese</h4>
        <EditForm Model="@model" OnValidSubmit="HandleCheckSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            @foreach (string translate in optionTranslations)
            {
                <label>
                    <ChineseDictionary.Components.InputRadio name="translate" SelectedValue="@translate" @bind-Value="model.Translate" />
                    @translate
                </label>
                <br>
            }

            <button type="submit">Далее</button>
        </EditForm>

        <br />
        <EditForm Model="@model" OnValidSubmit="HandleStopSubmit">
            <button type="submit">Stop train</button>
        </EditForm>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}

@if (end)
{
    <h2>Correct:</h2>
    @foreach (var word in correct)
    {
        <p>
            <h4>@word.Chinese</h4>
        </p>
    }

    <h2>Wrong:</h2>
    @foreach (var word in correct)
    {
        <p>
            <h4>@word.Chinese</h4>
        </p>
    }
}

@code {

    bool training = false;
    bool end = false;
    int group;
    private Model model = new Model();
    int index = 0;

    private InputFlashcardsModel input = new InputFlashcardsModel();
    FlashcardWord word;
    List<string> optionTranslations;
    List<FlashcardWord> correct;
    List<FlashcardWord> wrong;

    private async Task HandleTrainSubmit()
    {
        training = !training;
        if (training)
        {
            word = await Flashcards.GetRandomWordByGroup(group);
            optionTranslations = Flashcards.GetRandomTranslations(word.Chinese, 4);

            correct = new List<FlashcardWord>();
            wrong = new List<FlashcardWord>();
        }

        index++;
    }

    private async Task HandleCheckSubmit()
    {
        if (await Flashcards.IsCorrectTranslation(word.Chinese, model.Translate))
            correct.Append(word);
        else
            wrong.Append(word);

        word = await Flashcards.GetRandomWordByGroup(group);
        optionTranslations = Flashcards.GetRandomTranslations(word.Chinese, 4);

        index++;

        if (index >= input.WordsCount)
            end = true;
    }

    private void HandleStopSubmit()
    {
        training = false;
    }

    public class Model
    {
        [Required]
        public string Translate { get; set; }
    }
}
