@page "/dictionary/{text}"
@using ChineseDictionary.Models
@inject HttpClient Http
@inject ChineseDictionary.Services.IDictionaryService DictionaryService

@using TG.Blazor.IndexedDB
@inject IndexedDBManager DbManager
@inject DbStore DbStore

<h1>@Text</h1>
<br />

<h5>@word.Pinyin</h5>
<br />
<br />

<h5>Translation:</h5>
<ul>
    @foreach (string s in word.Translations)
    {
        <li>@s</li>
    }
</ul>

@if (word.Examples.Count != 0)
{
    <h5>Examples:</h5>
    <ul>
        @foreach (Example s in word.Examples)
        {
            <li>@s.Chinese<br /> @s.Translation</li>
        }
    </ul>
}

@if (word.RelativeWords.Count != 0)
{
    <h5>Relative words:</h5>
    <ul>
        @foreach (string s in word.RelativeWords)
        {
            <li><a href="/dictionary/@s"> @s </a></li>
        }
    </ul>
}


@code {

    [Parameter]
    public string Text { get; set; }

    private ExtendedWord word;
    protected override void OnParametersSet()
    {
        word = DictionaryService.GetByChinese(Text);
    }

}
