@page "/dictionary/{text}"
@using ChineseDictionary.Models
@inject HttpClient Http
@inject ChineseDictionary.Services.IDictionaryService DictionaryService

@using TG.Blazor.IndexedDB
@inject IndexedDBManager DbManager
@inject DbStore DbStore

<h1>@Text</h1>
<br />





<h5>@word.Pinyin</h5>
<br />
<br />

<h5>Translation:</h5>
<ul>
    @foreach (string s in word.Translations)
    {
        <li>@s</li>
    }
</ul>

<h5>Examples:</h5>
<ul>
    @foreach (Example s in word.Examples)
    {
        <li>@s.Chinese<br /> @s.Translation</li>
    }
</ul>

@code {

    [Parameter]
    public string Text { get; set; }

    private ExtendedWord word;
    protected override void OnInitialized()
    {
        word = DictionaryService.GetByChinese(Text);
    }
}
